gradio==3.50.2
pandas==2.0.3
langchain-chroma==0.1.0
langchain-upstage==0.0.4
langchain-community==0.0.10
langchain-core==0.1.7
pydub==0.25.1
python-dotenv==1.0.0
SpeechRecognition==3.10.0
gTTS==2.3.2
MeCab==0.996.3
